node_modules

[{"producto":{"title":"Falopa","price":200,"thumbnail":"https://cdn4.iconfinder.com/data/icons/coronavirus-24/468/30-capsule-256.png"}},{"producto":{"title":"Queso","price":10,"thumbnail":"https://cdn3.iconfinder.com/data/icons/food-set-3/91/Food_C217-128.png"}},{"producto":{"title":"Celular","price":500,"thumbnail":"https://cdn2.iconfinder.com/data/icons/artificial-intelligence-6/64/ArtificialIntelligence23-128.png"}}]