<table style="width: 50%">
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Foto</th>
    </tr>
    <tr>
        <td>{{title}}</td>
        <td>{{price}}</td>
        <td><img src={{thumbnail}}></td>
    </tr>
</table>